<html>
<head>
    <title>Login</title>

</head>
<body>
    <form method="post" action="">

        User Name : <input type="text" placeholder="User Name" name="username"><br>
        Password  : <input type="password" placeholder="Password" name="password"><br>
                    <input type="submit" value="Login"><br>
       <a href="http://localhost:2222/auth/google"> <img class="irc_mi" src="https://developers.google.com/accounts/images/sign-in-with-google.png"  alt="Image result for login with google" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="300" height="108" style="margin-top: 143px;"></a>
    </form>
</body>
</html>